<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2"><%= customer.firstName %> <%= customer.lastName %></h1>
  </div>

  <div class="col py-3">
    <div class="row">
      <div class="col">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
            <li class="breadcrumb-item active"><%= customer.firstName %> <%= customer.lastName %></li>
          </ol>
        </nav>
      </div>
      <div class="col text-end ">
        <b> User ID : </b> <%= customer._id %>
      </div>
    </div>
  
  </div>
    
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col" style="max-width: 140px;"> <b> Name:</b></div>
                        <div class="col"><%= customer.firstName %> <%= customer.lastName %></div>

                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col" style="max-width: 140px;"> <b> Email:</b></div>
                        <div class="col"><%= customer.email %> </div>

                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col" style="max-width: 140px;"> <b> Phone Number:</b></div>
                        <div class="col"><%= customer.tel %> </div>

                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col" style="max-width: 140px;"> <b> Created At:</b></div>
                        <div class="col"><%= new Date(customer.createdAt).toLocaleDateString('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }) %></div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col" style="max-width: 140px;"> <b> Updated At:</b></div>
                        <div class="col"><%= new Date(customer.updatedAt).toLocaleDateString('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }) %></div>
                    </div>
                </li>
            </ul>
            
            
            
            